<section class="project-header">
     <div class="container">
       <h1><%= project.title %></h1>
       <p class="project-description"><%= project.description %></p>
       <div class="project-meta">
         <div class="tags">
           <% project.tags.forEach(tag => { %>
             <span class="tag"><%= tag %></span>
           <% }) %>
         </div>
         <% if (project.projectUrl) { %>
           <a href="<%= project.projectUrl %>" target="_blank" class="button">View Project</a>
         <% } %>
       </div>
     </div>
   </section>
   
   <section class="project-content">
     <div class="container">
       <div class="project-gallery">
         <% if (project.images && project.images.length > 0) { %>
           <% project.images.forEach(image => { %>
             <div class="gallery-image">
               <img src="/content/portfolio/images/<%= project.id %>/<%= image.file %>" alt="<%= image.caption || project.title %>">
               <% if (image.caption) { %>
                 <p class="image-caption"><%= image.caption %></p>
               <% } %>
             </div>
           <% }) %>
         <% } %>
       </div>
   
       <div class="project-details">
         <%- project.content %>
       </div>
     </div>
   </section>